@font-face {
    font-family: 'Rubik-Regular';
    src: url('./assets/Fonts/Rubik/Rubik-Regular.ttf');
}
@font-face {
    font-family: 'Rubik-light';
    src: url('./assets/Fonts/Rubik/Rubik-Light.ttf');
}
@font-face {
    font-family: 'Rubik-medium';
    src: url('./assets/Fonts/Rubik/Rubik-Medium.ttf');
}
@font-face {
    font-family: 'Rubik-bold';
    src: url('./assets/Fonts/Rubik/Rubik-Bold.ttf');
}
@font-face {
    font-family: 'Rubik-black';
    src: url('./assets/Fonts/Rubik/Rubik-Black.ttf');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: none;
    border-color: #e5e7eb;
}
body {
    margin: 0;
    font-family: 'Rubik-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 350;
    color: rgb(30 41 59);
    background-color: rgb(255, 255, 255);
}

.tasklogo {
    font-size: medium;
    font-family: 'Rubik-bold', sans-serif;
    color: #555;
}
